		<!--MAIN -->
		<div class="fixed drbatch">
			<div class="sectiontext">
				<h1>Doctor Batch</h1>
			</div>
		</div>

		<div class="scrolling">
			<div class="container">
				<div class="column-left">
					<!-- 					<img src="images/mike_logo.png" alt="mike ring" height="52" width="50">
 -->
					<h3>About Doctor Batch</h3>
					<div class="story">Tim Fanelli, a.k.a Doctor Batch, is an
						IBMer specializing in z Systems workload modernization. His ideas
						and strategies have driven dozens of Fortune 500 development
						efforts bringing decades-old mainframe solutions into the 21st
						century. By exposing traditional MVS developers to modern
						developer operations, software life cycles, web service
						architectures, java batch, and business rules management, he is
						able to transform traditional MVS development paradigms into agile
						development teams utilizing continuous integration, continuous
						test, and continuous delivery methodologies; while maintaining
						compliance with rigid quality assurance and audit requirements
						imposed on highly regulated industry solutions.</div>
				</div>
				<div class="column-right">
					<!-- 					<img src="images/mm_logo.png" alt="mike and marie ring" height="52"
						width="112">
 -->
					<h3>Contact</h3>
					<div class="code">
=COLS> ----+----1----+----2----+----3----+----4
<br/>****** ************* Top of Data **************
<br/>000001 //DOCBAT JOB ACCT,'DATA COPY',
<br/>000002 //  MSGCLASS=A,CLASS=A
<br/>000002 //*
<br/>000003 //* z Systems Workload Modernization 
<br/>000004 //* Specialist	
<br/>000005 //*
<br/>000006 //CONTACT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EXEC PGM=IEBGENER
<br/>000007 //SYSIN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DD&nbsp;&nbsp;&nbsp;DUMMY
<br/>000008 //SYSPRINT&nbsp;&nbsp;&nbsp;&nbsp;DD&nbsp;&nbsp;&nbsp;DUMMY
<br/>000009 //SYSUT1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DD&nbsp;&nbsp;&nbsp;*
<br/>000010 Timothy C. Fanelli
<br/>000012
<br/>000013 p: +1 (720) 342-5357
<br/>000014 e: doc@torbat.ch
<br/>000015 w: http://doc.torbat.ch
<br/>000016 //*
<br/>000017 //SYSUT2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DD&nbsp;&nbsp;&nbsp;SYSOUT=*				
					</div>
				</div>
			</div>
			<div class="container">
				<div class="column-right solo">
					<h3>Master Certificatied IT Specialist</h3>
					<div class="story">Tim's extensive hands-on experience with IBM customer's has enabled him to achieve recognition as an OpenGroup Master Certified IT 
					Specialist. Tim also serves on the IT Specialist certification board at IBM.</div><br/>
					<img src="images/Master_ITSpec_App_Int_Mware.jpg" alt="Open Group Master Certified IT Specialist">
				</div>

			</div>
		</div>
		<!--End MAIN -->