		<!--Details -->
		<div id="magicsauce" class="fixed sauce">
			<div class="sectiontext">
				<h1><b>doctorbatch.io</b></h1>
			</div>
		</div>
		<div class="scrolling">
			<div class="container">
				<h3>About</h3>
				<p><b>doctorbatch.io</b> has finally arrived: <a href="https://github.com/zblservices/doctorbatch.io">Find it on GitHub!</a></p>
				<p><b>doctorbatch.io</b> is an API for developing batch applications in the Java programming language targetted for deployment to IBM's WebSphere Batch or WebSphere Liberty Profile's Java EE Batch runtime environments. The <b>doctorbatch.io</b> provides portability between the two runtimes by abstracting application development away from the runtime-specific API, and providing adapters for deployment.</p>
				<p>The <b>doctorbatch.io</b> is being released as an Apache 2.0 License open-source project, and will be available soon from <a href="http://wasdev.net">IBM WebSphere Developerworks</a>'s GitHub repository.</p>

					{% for post in site.posts reversed %}
					{% if post.categories contains 'installation' %}
					{{ post.content }}
					{% endif %}
					{% endfor %}
			</div>
		</div>
		<!--End <b>doctorbatch.io</b>-->
