		<!--Details -->
		<div id="workload" class="fixed ec12">
			<div class="sectiontext">
				<h1>Workload Modernization</h1>
			</div>
		</div>
		<div class="scrolling">
			<div class="content">
				<div class="column-left">
					<h3>CICS, COBOL and PL/I</h3>
					<div class="story">
Tim has deep technical expertise with business rules management, and specializes in IBM's Operational Decision Manager on z/OS for CICS, COBOL and PL/I application modernization. 
					</div>

				</div>
				<div class="column-center">
					<h3>Java Batch (JSR-352)</h3>
					<div class="story">
Tim served on the expert working group for <a href="https://jcp.org/en/jsr/detail?id=352">JSR-352</a>: Batch Applications for the Java Platform, and now specializes in JSR-352 application 
workloads utilizing <a href="https://developer.ibm.com/wasdev/websphere-liberty/">WebSphere Liberty Profile</a> on IBM z Systems. 
					</div>

				</div>
				<div class="column-right">
					<h3>WebSphere Batch</h3>
					<div class="story">
Tim has almost a decade of experience with WebSphere Batch (formerly WebSphere Compute Grid) on z/OS, and now emphasizes application architectures for targeting WebSphere Batch with 
portability into JSR-352 in Liberty Profile as the technology matures. 
					</div>

				</div>
			</div>
			<div class="content">
				<div class="column-right solo">
					<h3>Developer Operations</h3>
					<div class="story">Regardless of infrastructure or middleware, Tim always provides a strong emphasis on adopting best-practices to achieve reduced overhead and decreased time to market with mitigated risk, utilizing continous -test, -integration, and -release methodologies in agile development paradigms.</div>
				</div>

			</div>
		</div>
		<!--End Details-->


